@model IEnumerable<Q400Calculator.Models.ClimbData>

@{
    ViewData["Title"] = "Index";
    // do this stuff in the controller
    List<Q400Calculator.Models.ClimbData> values = (List<Q400Calculator.Models.ClimbData>)Model;

    List<Q400Calculator.Models.ClimbData> values2 = Model as List<Q400Calculator.Models.ClimbData>;

}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    The first weight value in the "table" is: @values[0].Weight
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vclmb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vfri10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vfri15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vfri5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vclmb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vfri10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vfri15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vfri5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
