@model Q400Calculator.Models.Flap15Data

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flap15Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cold0V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cold0V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cold0Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cold0Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cold10000V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cold10000V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cold10000Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cold10000Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cold2000V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cold2000V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cold2000Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cold2000Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cold4000V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cold4000V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cold4000Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cold4000Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cold6000V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cold6000V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cold6000Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cold6000Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cold8000V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cold8000V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cold8000Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cold8000Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hot0V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hot0V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hot0Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hot0Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hot10000V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hot10000V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hot10000Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hot10000Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hot2000V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hot2000V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hot2000Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hot2000Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hot4000V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hot4000V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hot4000Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hot4000Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hot6000V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hot6000V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hot6000Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hot6000Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hot8000V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hot8000V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hot8000Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hot8000Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
